 <!-- form handling -->
 <form action="/map1" method="POST" id="add_user">
     <div class="new_user">
         <div class="form-group">
             <label for="name" class="text-light">USERNAME</label>
             <input type="hidden" name="id" value="">
             <input type="text" name="name" value="" placeholder="Enter Full Name">
         </div>
         <div class="form-group">
             <label for="password" class="text-light">Passsword</label>
             <input type="text" name="password" value="" placeholder="Enter Your Password">
         </div>
 
         <div class="form-group">
             <button type="submit" class="btn text-dark update">LOGIN</button>
         </div>
 
     </div>
 </form>