<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HT-ADMIN-MAP</title>
    <link rel="shortcut icon" href="https://play-lh.googleusercontent.com/TXNXU0bWFdRqOjd2AHuWVnI1HfqeKuGnD7fS8QcQnWvRkGIFY1fkwHH6sWIun3LO" type="image/x-icon">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <%- include('include/_navbar.ejs') %>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <main>
        <div id="map"></div>
    </main>
    <script>
        const map = L.map('map');
            // Initializes map
            map.setView([22.5726, 88.3639], 10);
            // Sets initial coordinates and zoom level
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            // Sets map data source and associates with map

            let pincodes = [];
            let pincode; // Define pincode in global scope

            fetch('pointer.json')
                .then(response => response.json())
                .then(data => {
                    pincodes = data.data; // Access the 'data' property of the response
                    addMarkers();
                })
                .catch(error => console.error(error));

            function addMarkers() {
                pincodes.forEach(pincode => {
                    L.marker([pincode.lat, pincode.lng]).addTo(map)
                        .bindPopup(`Pincode: ${pincode.pincode}, User: ${pincode.user || "NULL"}, Restaurant:${pincode.restaurant || "NULL"}`);
                });
            }
            // Adds markers to the map for each pincode in the pincodes array and sets a popup with the pincode information
            let marker, circle, zoomed;
            navigator.geolocation.watchPosition(success, error);

            function success(pos) {
                const lat = pos.coords.latitude;
                const lng = pos.coords.longitude;
                const accuracy = pos.coords.accuracy;
                if (marker) {
                    map.removeLayer(marker);
                    map.removeLayer(circle);
                }
                // Removes any existing marker and circule (new ones about to be set)
                marker = L.marker([lat, lng]).addTo(map);
                circle = L.circle([lat, lng], { radius: accuracy }).addTo(map);
                // Adds marker to the map and a circle for accuracy
                if (pincode) { // Check if pincode is defined
                    circle.bindPopup(pincode.pincode);
                }
                if (!zoomed) {
                    zoomed = map.fitBounds(circle.getBounds());
                }
                // Set zoom to boundaries of accuracy circle
                map.setView([lat, lng]);
                // Set map focus to current user position
            }
            function error(err) {
                if (err.code === 1) {
                    alert("Please allow geolocation access");
                } else {
                    alert("Cannot get current location");
                }
            }
        // Add search functionality
document.getElementById("pincode-form").addEventListener("submit", searchPincode);

function searchPincode(event) {
    event.preventDefault();
    const searchValue = document.getElementById("pincode").value;
    let found = false;
    pincodes.forEach((pincode) => {
        if (pincode.pincode === searchValue) {
            found = true;
            map.setView([pincode.lat, pincode.lng], 12);
            L.marker([pincode.lat, pincode.lng], { id: pincode.pincode })
                .addTo(map)
                .bindPopup(
                    `Pincode: ${pincode.pincode}, User: ${pincode.user || "NULL"}`
                )
                .openPopup();
            L.circle([pincode.lat, pincode.lng], {
                id: pincode.pincode,
                stroke: true,
                color: "#FF0000",
                weight: 2,
                opacity: 0.8,
                fill: true,
                fillColor: "#FF0000",
                fillOpacity: 0.05,
                radius: 5000
            }).addTo(map).bindPopup(
                `Pincode: ${pincode.pincode}, User: ${pincode.user || "NULL"}`
            ).openPopup();
        }
    });
    if (!found) {
        alert("No Result Found");
    }
}


    </script>

</body>
<%- include('include/_footer.ejs') %>

</html>