<!DOCTYPE html>
<html lang="en">

<head>
    <title>HungryTop Technologies Limited</title>
    <link rel="shortcut icon"
        href="https://play-lh.googleusercontent.com/TXNXU0bWFdRqOjd2AHuWVnI1HfqeKuGnD7fS8QcQnWvRkGIFY1fkwHH6sWIun3LO"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-Eg5tCwkTvlT67/YbTJRpQW+RTx/7n0krN9jZ9+8W1emFpKLwKDaC4ND7VsmNTStHYx+7V2QKjSb6lo3qWmzU+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="footer">
            <p>Copyright © 2023 HyngryTop Technology limited</p>
    </div>

</body>

</html>