<!DOCTYPE html>
<html lang="en">
<head>
    <title>HungryTop Technologies Limited</title>
    <link rel="shortcut icon"
        href="https://play-lh.googleusercontent.com/TXNXU0bWFdRqOjd2AHuWVnI1HfqeKuGnD7fS8QcQnWvRkGIFY1fkwHH6sWIun3LO"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-Eg5tCwkTvlT67/YbTJRpQW+RTx/7n0krN9jZ9+8W1emFpKLwKDaC4ND7VsmNTStHYx+7V2QKjSb6lo3qWmzU+Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Navbar with form -->
    <div class="navbar">
        <!-- Logo -->
        <a><b> HungryTop Technologies Limited</b></a>
    
        <a><img src=https://play-lh.googleusercontent.com/TXNXU0bWFdRqOjd2AHuWVnI1HfqeKuGnD7fS8QcQnWvRkGIFY1fkwHH6sWIun3LO
                height="30px" width="30px" alt="Hungrytop" /></a>
    
    
        <!-- Pincode form -->
        <form id="pincode-form">
            <input type="text" id="pincode" name="pincode" placeholder="Enter Pin Code to Search" required>
            <button type="submit">FIND</button>
        </form>
    
        <!-- Refresh button -->
        <!-- <b>TOTAL USERS: <br>TOTAL RESTAURANTS:</b> -->
        <button class="refresh-btn" onclick="location.reload()">REFRESH</button>
    </div>

</body>
</html>